<div class="my-3">
    <h2>Take, Take last, take until </h2>
    <br>

    <div class="row">
        <p class="bg-light py-2 px-3 border rounded">
            random Names: 'Anup', 'Shekhar', 'Sharma', 'Uxtrendz', 'John', 'Alex', 'Robert'
          </p>
        <div class="col-md-4">
            <strong>Ex - 01 | Take(5)</strong>
            <hr>
            <ul id="elContainer"> </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | take last(3)</strong>
            <hr>
            <ul id="elContainer2"> </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 | take until(condition)</strong>
             <p>click anywhere on the screen to stop</p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>