<div class="my-3">
    <h2>Filter</h2>
    <br />
  
    <div class="row">
      <div class="col-md-4">
        <strong>Ex - 01</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Filter:</strong> by length
        </p>
        <br />
        <table class="table">
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
          <tr *ngFor="let member of data">
            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
          </tr>
        </table>
        <!-- <p>Message: <strong class="text-success"></strong></p> -->
      </div>
      <div class="col-md-4">
        <strong>Ex - 02</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Filter:</strong> by gender
        </p>
        <br />
        <table class="table">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
          </tr>
          <tr *ngFor="let member of data">
            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.gender}}</td>
          </tr>
        </table>
        <!-- <p>Message: <strong class="text-success"></strong></p> -->
      </div>
      <div class="col-md-4">
        <strong>Ex - 03</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Filter:</strong> by nth id
        </p>
        <br />
        <table class="table">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
          </tr>
          <tr *ngFor="let member of data">
            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.gender}}</td>
          </tr>
        </table>
        <!-- <p>Message: <strong class="text-success"></strong></p> -->
      </div>
    </div>
  </div>
  