<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="fromEvent">fromEvent</a>
      </li>
      <li>
        <a routerLink="interval">Interval</a>
      </li>
      <li>
        <a routerLink="of-from">of and from</a>
      </li>
      <li>
        <a routerLink="to-array">toArray</a>
      </li>
      <li>
        <a routerLink="custom">Custom Observable</a>
      </li>
      <li>
        <a routerLink="map">map</a>
      </li>
      <li>
        <a routerLink="pluck">pluck</a>
      </li>
      <li>
        <a routerLink="filter">filter</a>
      </li>
      <li>
        <a routerLink="tap">tap</a>
      </li>
      <li>
        <a routerLink="take">take,takeLast and takeUntil</a>
      </li>
      <li>
        <a routerLink="retry">retry, retryWhen, Scan and Delay</a>
      </li>
      <li>
        <a routerLink="debounceTime">debounceTime and distinctUntilChanged</a>
      </li>
    </ul>
  </div>
</div>
